<app-header></app-header>

<ion-content>
  
  <div class="tituloPagina">
    <p id="titulo">COMPRA</p>
  </div>

  <div class="content">
    
    <div class="filtros">
      <div id="inputProducto" class="input lg-3">
        <label for="inputProducto" class="form-label">Busqueda</label>
        <input type="text" class="form-control" placeholder="Busqueda" aria-label="Busqueda" aria-describedby="basic-addon1" [(ngModel)]="busqueda" (ngModelChange)="filtrarProductos()">
      </div>

      <div id="selectCategoria" class="input lg-3">
        <label for="inputProducto" class="form-label">Categoria</label>
        <select class="form-select" aria-label="Categoria" [(ngModel)]="categoriaSeleccionada" (change)="filtrarProductos()">
          <option selected value="Todos">Todos</option>
          <option value="Electronicos">Electronicos</option>
          <option value="Percusion">Percusion</option>
          <option value="Viento">Viento</option>
          <option value="Cuerda">Cuerda</option>
        </select>
      </div>

      <ion-icon name="cart" id="carritoIcon" (click)="cambiarEstadoCarrito()"></ion-icon>
    </div>

    <div id="popoverCarrito" [ngClass]="{'mostrar': estadoCarrito, 'ocultar': !estadoCarrito}">
      <app-carrito></app-carrito>
    </div>

    <div class="listaProductos">
      <div 
        class="card datosProducto" 
        *ngFor="let producto of productosFiltrados" 
        (click)="irDetalleCompra(producto.ProductoID)">
        <div class="rentaMensual">
          <p id="tipoProducto">{{ producto.RentaID }}</p>
        </div>
        <img [src]="producto.imagen" alt="Producto" id="imagenProducto"/>
        <div class="card-body">
          <p id="nombreProducto">{{ producto.Nombre }}</p>
          <p id="precioProducto">${{ producto.Precio }} por mes</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>
