<app-header></app-header>

<app-header></app-header>

<ion-content>
  <div class="content">
    
    <div class="imagenes">
      <!-- Imagen central principal del producto -->
      <img [src]="producto?.imagen || 'https://ionicframework.com/docs/img/demos/avatar.svg'" id="imagenCentral"/>
    </div> <!-- Cierre de div .imagenes -->

    <div class="datosProducto">
      <!-- Nombre y precio del producto -->
      <p id="nombre">{{ producto?.Nombre || 'NOMBRE PRODUCTO' }}</p>
      <p id="precio">{{ producto?.Precio | currency:'USD' }}</p>

      <!-- Descripción del producto -->
      <p id="tituloDescripcion">Descripción del Producto</p>
      <div class="areaDescripcion">
        <p id="descripcion">{{ producto?.descripcion || 'ESTA ES LA DESCRIPCIÓN DEL PRODUCTO' }}</p>
      </div>

      <!-- Selección de cantidad -->
      <div id="cantidad" class="input">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="number" class="form-control" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon1" [(ngModel)]="cantidad" min="1" value="1">
      </div>

      <!-- Botón para agregar al carrito -->
      <button type="button" class="btn" id="agregarCarrito" (click)="agregarAlCarrito()">Agregar al Carrito</button>
    </div> <!-- Cierre de div .datosProducto -->

  </div> <!-- Cierre de div .content -->
</ion-content>