<app-header></app-header>

<ion-content>
  
  <div class="content">

    <div class="imagenes">

      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenCentral"/>

      <div class="listaImagenes">

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="imagenAbajo"/>

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="imagenAbajo"/>

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="imagenAbajo"/>

      </div>

    </div>

    <div class="datosProducto">

      
      <p id="nombre">NOMBRE PRODUCTO</p>
      <p id="precio">$00000.00</p>

      <p id="tituloDescripcion">Descripcion del Producto</p>

      <div class="areaDescripcion">

        <p id="descripcion">
          ESTA ES LA DESCRIPCION DEL PRODUCTO
        </p>

      </div>

      <div id="cantidad" class="input">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="number" class="form-control" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon1" value="0" min="0">
      </div>

      <button type="button" class="btn" id="agregarCarrito">Agregar al Carrito</button>

    </div>
    
  </div>

</ion-content>