app-header {

    position: relative;
    width: 100%;
    z-index: 10;
    height: 8%;
    top: 0%;

}

ion-content {

    --background: #FFE1FF;
    --padding-start: 3%;
    --padding-end: 2%;

}
ion-modal{
    --width: 75%;
    --height: 100%;
    
    @media(max-width: 480px){ 
        --width: 88%;
        --height: 25%;
    }
    @media (min-width: 481px) and (max-width: 1024px) {
    --width: 85%;
    --height: 38%;
    }

}
.form-select{
  @media(max-width: 480px){ 
     font-size: 2vh;
     
    }
  @media (min-width: 481px) and (max-width: 1024px) {      
    font-size: 2vh;
    max-width: 50%;
    }
}
.form-control{
  @media(max-width: 480px){ 
    font-size: 2vh;

    }
  @media (min-width: 481px) and (max-width: 1024px) {
    font-size: 2vh;

    }
}
.form-select option{
    @media(max-width: 480px){ 
      font-size: 1vh;
    }
    @media (min-width: 481px) and (max-width: 1024px) {
        font-size: 1.3vh;

    }

}


.tituloPagina, .content {

    position: relative;
    color: black;

}

.tituloPagina > #titulo {

    font-weight: bolder;
    margin-bottom: 1%;
    text-align: center;
    font-size: 4.5vh;
    margin-top: 1%;

}

.content {

    background-color: white;
    min-height: max-content;
    padding-bottom: 2%;
    border-radius: 1%;
    height:max-content;
    width: 98%;
    left: 1%;
    margin-top:10%;
    @media (min-width: 1025px){
        margin-top:1%;
        }


}

#imagenVideo {

    object-fit: cover;
    width: 100%;
    height: 80%;

}

#tituloVideo {

    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    margin-bottom: 0%;
    font-size: 2.7vh;
    overflow: hidden;
    margin-left: 0.6vh;

}

.datosVideo {

    border: 1px solid black;
    transition: all .5s ease;
    margin: 0% 1% 2% 1%;
    background: white;
    flex-basis: 283px;
    color: black;
    height: 100%;
    width: 20%;
    @media(max-width: 480px){ 
      flex-basis: 351px;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
        
 }

}

.datosVideo > .card-body {

    padding: 0%;

}

.datosVideo:hover {

    transform: scale(1.1);

}

.filtros {

    align-items: center;
    position: relative;
    font-size: 3.5vh;
    flex-wrap: wrap;
    display: flex;
    width: 94%;
    left: 3%;
    top: 2%;
    bottom:4.5vh;
    padding-top:6vh;
    @media(max-width: 480px){ 
     font-size: 2.5vh;
     width: 123%;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
    font-size: 3.1vh;
    width: 123%;
 }

}

#inputVideo {

    position: relative;
    font-weight: bold;
    width: 25%;

}

#selectCategoria {

    position: relative;
    font-weight: bold;
    width: 25%;
    left: 3%;
  
  @media (min-width: 481px) and (max-width: 1024px) {
  width: 30%;
 }

}

#inputVideo > input, #selectCategoria > select {

    border: 1px solid black;

}

.listaVideos {

    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 98%;
    left: 1%;
    top: 8%;

}

.reproductorVideo {

    --background: white;
    height: 80%;
    width: 97%;
    top: 19%;
    left: 1%;


}

#tituloReproductor {

    transition: opacity 0.1s ease;
    position: absolute;
    margin-bottom: 0%;
    color: white;
    font-size: 5vh;
    z-index: 2;
    opacity: 1;
    width: 80%;
    left: 1%;
    @media(max-width: 480px){ 
     font-size: 3vh;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
        
 }

}

#iconoCerrar {

    transition: opacity 0.1s ease;
    position: absolute;
    color: white;
    font-size: 8vh;
    z-index: 2;
    opacity: 0;
    left: 95%;
    @media(max-width: 480px){ 
     left: 85%;
     font-size: 5vh;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
    left: 90%;
    font-size: 5vh;
 }

}

#video {

    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    @media(max-width: 480px){ 
      height: 100%;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
        
 }

}

.reproductorVideo:hover {

    #tituloReproductor {

        opacity: 0;

    }

    #iconoCerrar {

        opacity: 1;

    }

}