<app-header></app-header>

<ion-content>
  
  <div class="content">

    <div class="resumenCurso">

      <div class="imagenCurso">

        <!-- Manteniendo la estructura, mostramos la imagen del curso -->
        <img [src]="curso?.imagen" id="imagen" />

      </div>

      <div class="resumen">

        <!-- Usamos binding de Angular para mostrar el nombre y el precio -->
        <p id="titulo">{{ curso?.Nombre }}</p>

        <p id="precio">{{ curso?.Precio}}</p>

        <button type="button" class="btn" id="agregarCarrito" (click)="agregarAlCarrito()">Agregar al Carrito</button>

      </div>

    </div>

    <div class="contenidoCurso">

      <p id="tituloRequisitos">Requisitos</p>

      <ul class="list-group list-group-flush listaRequisitos">
        <li class="list-group-item" *ngFor="let requisito of requisitos">
          {{ requisito }}
        </li>
      </ul>

      <p id="tituloDescripcion">Descripcion breve del curso</p>

      <!-- Mostramos la descripción del curso -->
      <p id="descripcion">{{ curso?.Descripcion }}</p>

      <p id="tituloContenido">Contenido del curso</p>

      <!-- Mostramos el contenido del curso -->
      <p id="contenido">{{ curso?.Contenido }}</p>

    </div>
    
  </div>

</ion-content>