<app-header></app-header>

<ion-content>
  
  <div class="content">

    <div class="imagenes">

      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagenCentral"/>

      <div class="listaImagenes">

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="imagenAbajo"/>

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="imagenAbajo"/>

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="imagenAbajo"/>

      </div>

    </div>

    <div class="datosProducto">

      
      <p id="nombre">NOMBRE PRODUCTO</p>
      <p id="precio">$00000.00</p>

      <p id="tituloDescripcion">Descripcion del Producto</p>

      <div class="areaDescripcion">

        <p id="descripcion">
          ESTA ES LA DESCRIPCION DEL PRODUCTO
        </p>

      </div>

      <div class="renta">
        
        <div id="tipoRenta" class="input">
          <label for="tipoRenta" class="form-label">Tipo Renta</label>
          <select class="form-select" aria-label="Tipo Renta" label="Tipo Renta">
            <option selected value="predeterminado">Seleccione tipo renta</option>
            <option value="semanal">Semanal</option>
            <option value="mensual">Mensual</option>
          </select>
        </div>
  
        <div id="plazo" class="input">
          <label for="plazo" class="form-label">Plazo</label>
          <input type="number" class="form-control" placeholder="Plazo" aria-label="Plazo" aria-describedby="basic-addon1" value="0" min="0">
        </div>

      </div>

      <button type="button" class="btn" id="agregarCarrito">Agregar al Carrito</button>

    </div>
    
  </div>

</ion-content>