<app-header></app-header>

<ion-content>
  
  <div class="content">

    <div class="resumenCurso">

      <div class="imagenCurso">

        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" id="imagen"/>

      </div>

      <div class="resumen">

        <p id="titulo">TITULO CURSO</p>

        <p id="descripcion">DESCRIPCION DEL CURSO</p>

        <ul class="list-group list-group-flush listaRequisitos">
          <li class="list-group-item">REQUISITO UNO</li>
          <li class="list-group-item">REQUISITO DOS</li>
          <li class="list-group-item">REQUISITO DOS</li>
          <li class="list-group-item">REQUISITO DOS</li>
          <li class="list-group-item">REQUISITO DOS</li>
        </ul>

      </div>

    </div>
    
    <div class="contenidoCurso">

      <p id="tituloContenido">Contenido del Curso</p>

      <div class="table-responsive">

        <table class="table caption-top table-hover table-striped secciones">
          <tbody>
            <tr>
              <th scope="row">
                <div class="seccion">

                  <p class="tituloSeccion">NOMBRE SECCION</p>
                  <ion-icon name="caret-down" id="iconoDown"></ion-icon>

                </div>
              </th>
            </tr>
            <tr>
              <td>
                <video src="rutaVideo" controls></video>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="seccion">

                  <p class="tituloSeccion">NOMBRE SECCION</p>
                  <ion-icon name="caret-down" id="iconoDown"></ion-icon>

                </div>
              </th>
            </tr>
            <tr>
              <td>
                <video src="rutaVideo" controls></video>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="seccion">

                  <p class="tituloSeccion">NOMBRE SECCION</p>
                  <ion-icon name="caret-down" id="iconoDown"></ion-icon>

                </div>
              </th>
            </tr>
            <tr>
              <td>
                <video src="rutaVideo" controls></video>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="seccion">

                  <p class="tituloSeccion">NOMBRE SECCION</p>
                  <ion-icon name="caret-down" id="iconoDown"></ion-icon>

                </div>
              </th>
            </tr>
            <tr>
              <td>
                <video src="rutaVideo" controls></video>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <button type="button" class="btn" id="obtenerCertificado">Obtener Certificado</button>

    </div>
    
  </div>

</ion-content>
