<app-header></app-header>

<ion-content>

  <div class="tituloPagina">
    <p id="titulo">Lista del Carrito</p>
  </div>

  <div class="content">

    <div class="table-responsive" id="listaPedidos">

      <table class="table caption-top table-hover table-striped align-middle">
        <thead>
          <tr>
            <th scope="col">Datos Producto</th>
            <th scope="col">Precio Total</th>
            <th scope="col">Tipo</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <!-- Usamos *ngFor para iterar sobre los productosEnCarrito -->
          <tr *ngFor="let producto of productosEnCarrito">
            <td>
              <div class="row">
                <div class="col-2">
                  <!-- Imagen del producto -->
                  <img alt="ProductoCarrito" [src]="producto.imagen" id="imagenCarrito"/>
                </div>
                <div class="col-10 columnaDatosProducto">
                  <!-- Nombre y precio unitario del producto -->
                  <p id="nombreCarrito">{{ producto.Nombre }}</p>
                  <p id="precioUnitarioCarrito">${{ producto.Precio }}</p>
                </div>
              </div>
            </td>
            <td>
              <!-- Precio total calculado -->
              <p id="precioFinalCarrito">${{ producto.Total }}</p>
            </td>
            <td>
              <div class="tipoCarrito">
                <!-- Tipo de renta -->
                <p>{{ producto.Tipo }}</p>
              </div>
            </td>
            <td>
              <div class="columnaEliminar">
                <!-- Icono para eliminar el producto -->
                <ion-icon name="trash" (click)="eliminarProducto(producto.idProducto)" id="eliminarProducto"></ion-icon>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="resumenCarrito">
      <!-- Botón de comprar y mostrar el total del carrito -->
      <button type="button" class="btn" id="botonComprar">Comprar Carrito</button>
      <p class="totalCarrito">Total: <span id="totalFinal">${{ totalCarrito }}</span></p>
    </div>

  </div>
