$color-primario: #433878;
$color-secundario: #E4B1F0;

* {

    background-color: $color-primario;

}

.listaProductos {

    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 92%;
    @media(max-width: 480px){ 
  
    }
  @media (min-width: 481px) and (max-width: 1024px) {
        
 }

}

.datosProductoCarrito {

    border-bottom: 1px solid black;
    border-radius: 0%;
    color: white;

}

.columnaImagen, .columnaNombre, .columnaTipo {

    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.columnaImagen {

    padding: 0%;

}

.datosProductoCarrito > .row {

    margin: 0%;

}

#nombreCarrito, #precioCarrito, #compraCarrito, #rentaCarrito, #cursoCarrito {

    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0%;
    overflow: hidden;
    font-size: 3vh;
    @media(max-width: 480px){ 
        font-size: 2vh;

    }
  @media (min-width: 481px) and (max-width: 1024px) {
        font-size: 2.2vh;
 }
    
}

#imagenCarrito {

    object-fit: cover;
    width: 100%;
    
}

#nombreCarrito {
    
    font-weight: bold;

    
}

#tipoCarrito, #cantidadCompra, #tiempoRenta {

    margin-bottom: 0%;
    @media (min-width: 481px) and (max-width: 1024px) {
        font-size: 2vh;
    }

}

.tipoCarrito {

    flex-direction: column;
    align-items: center;
    display: flex;

}

#tipoCarrito {

    text-align: center;
 
  
    
}

#cantidadCompra {

    text-align: center;
 
}

#tiempoRenta {

    border: red 1px solid;
    text-align: center;
    width: 80%;
    
}

.resumenCarrito {
    
    justify-content: space-between;
    align-items: center;
    position: sticky;
    color: white;
    display: flex;
    width: 100%;
    height: 8%;
    @media(max-width: 480px){ 
        height: 16%;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
       height: 16%;
       font-size: 1.9vh;
    }
    

}

#verCarrito, .totalCarrito {

    margin-bottom: 0%;
    @media(max-width: 480px){ 
     margin: 1vh;
    }
  @media (min-width: 481px) and (max-width: 1024px) {
    margin: 1vh;

 }


}

#verCarrito {

    font-weight: bold;

}

.totalCarrito {

    text-align: right;
    font-weight: bold;
    width: 80%;
    @media(max-width: 480px){ 
        width: 45%;

    }
  @media (min-width: 481px) and (max-width: 1024px) {
    width: 45%;

 }
}

#totalFinal {

    font-weight: 100;

}